.search {
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  z-index: 10;
  padding: 7px 7px 7px 20px;
  border-radius: 33px;
  background-color: rgba(255, 255, 255, .1);
  border: 1px solid rgba(255, 255, 255, .3);
  box-shadow: 0 0 20px 4px rgba(227, 227, 227, .9);
  backdrop-filter: blur(2px);
}

.search__wrapper {
  display: flex;
  justify-content: flex-start;
  align-items: stretch;
}

.search__input {
  flex-grow: 1;
  color: rgba(255, 255, 255, 1);
  font-size: 16px;
  border: none;
  margin-inline-end: 10px;
  background-color: transparent;
  box-shadow: 0 1px 0 0 rgba(255, 255, 255, 0.5);
  outline: none;
}

.search__input::placeholder {
  color: rgba(255, 255, 255, .9);
}

.search__button {
  width: 50px;
  height: 50px;
  padding: 12px;
  border: 1px solid rgba(255, 255, 255, .5);
  border-radius: 50%;
  background-color: transparent;
  backdrop-filter: blur(2px);
  box-shadow: 0 0 20px 0 rgba(255, 255, 255, .6);
  cursor: pointer;
}

.search__button svg {
  pointer-events: none;
  fill: rgba(255, 255, 255, 1);
}

.search__list {
  max-height: 200px;
  overflow-x: auto;
}