.search-result {
  list-style: none;
  margin: 0;
  padding: 15px 0;
  max-height: 330px;
  overflow-y: auto;
  overflow-x: hidden;
}
.search-result__item {
  padding-inline-end: 13px;
}

.search-result__item + .search-result__item {
  margin-top: 5px;
}

.search-result__button {
  padding: 0;
  border: none;
  background-color: transparent;
  cursor: pointer;
  color: inherit;
  font-size: 16px;
  text-overflow: ellipsis;
  width: 100%;
  text-align: left;
} 

.search-result__button:hover {
  box-shadow: 0 1px 0 0 rgba(255,255,255, 0.7);
}